html {
    
}
body{
    margin: 10px;
    background-color: #eee;
    overflow-x: hidden;
}
img {
    display: block;
    width: 40vw;
    height: 16vw;
    position: relative;
    top: -6vw;
    left: -8vw;
    z-index: 2;
}

.white-box {
display: block;
 margin-top:35vh;
position: relative;
background-color: #fff;
width: 70vw;
height: 45vw;
left: -35vw;
margin-left: 50%;
box-shadow: 10px 15px 60px -20px;

}
.skills{
     margin-top:-15vh;
}
.detail-box {
    display: block;
    position: relative;
font-family: 'Roboto', sans-serif;
color: #000;
font-size: 1.9vw;
font-weight: 400;
line-height: 2em;
left: -6vw;
bottom: -5vw;

}


.topic-number {
 display: block;
 position: relative;
font-family: 'Roboto', sans-serif;
color: #fff;
font-size: 25vw;
left: 85%;
z-index: -1;
bottom: 15%;

}
.white-box-1 {
display: block;
padding-top:20vh;
position: relative;
width: 35vw;
height: 20vh;
left: -35vw;
margin-top:40vh;
margin-left: 50%;
}
@media screen and (max-width: 980px) {
.white-box{
    margin-top:15vh;
}

.skills {
    margin-top:-5vh;
}

.white-box-1{
    margin-top:0vh;
}
        
    }